n8n-workflows/01-payment-webhook-handler.json
{
  "name": "Payment Webhook Handler - CityPhone",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Payment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "payment-webhook-handler"
    },
    {
      "parameters": {
        "jsCode": "// Extract gateway from URL path\nconst url = $input.item.json.headers['x-forwarded-path'] || $input.item.json.headers['path'] || '';\nconst gateway = url.split('/').pop() || 'unknown';\n\n// Get webhook payload\nconst payload = $input.item.json.body || $input.item.json;\n\n// Get headers for signature verification\nconst headers = $input.item.json.headers || {};\n\nreturn {\n  json: {\n    gateway: gateway,\n    payload: payload,\n    headers: headers,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "extract-data",
      "name": "Extract Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gateway-check",
              "leftValue": "={{ $json.gateway }}",
              "rightValue": "amwal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "route-gateway",
      "name": "Route by Gateway",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CITYPHONE_API_URL }}/api/v1/webhooks/payment/{{ $json.gateway }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Source",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload",
              "value": "={{ JSON.stringify($json.payload) }}"
            },
            {
              "name": "headers",
              "value": "={{ JSON.stringify($json.headers) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "forward-to-laravel",
      "name": "Forward to Laravel API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CITYPHONE_API_URL }}/api/v1/orders/{{ $json.body.order_id || $json.body.orderNumber }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CITYPHONE_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-order",
      "name": "Get Order Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "Payment received for Order #{{ $json.order_number }}\nAmount: {{ $json.total }}\nStatus: {{ $json.payment_status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-admin",
      "name": "Notify Admin (Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Webhook processed\" } }}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Webhook processing failed\" } }}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Payment Webhook": {
      "main": [
        [
          {
            "node": "Extract Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Webhook Data": {
      "main": [
        [
          {
            "node": "Route by Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Gateway": {
      "main": [
        [
          {
            "node": "Forward to Laravel API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Laravel API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Get Order Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Admin (Slack)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order Details": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin (Slack)": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
