n8n-workflows/02-oto-shipping-webhook-handler.json
{
  "name": "OTO Shipping Webhook Handler - CityPhone",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oto-shipment-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "OTO Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "oto-shipment-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract webhook payload\nconst payload = $input.item.json.body || $input.item.json;\nconst headers = $input.item.json.headers || {};\n\n// Extract tracking information\nconst trackingNumber = payload.tracking_number || payload.trackingNumber || null;\nconst status = payload.status || payload.shipment_status || null;\nconst orderNumber = payload.reference || payload.order_number || payload.metadata?.order_number || null;\n\nreturn {\n  json: {\n    trackingNumber: trackingNumber,\n    status: status,\n    orderNumber: orderNumber,\n    payload: payload,\n    headers: headers,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "extract-data",
      "name": "Extract Shipment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CITYPHONE_API_URL }}/api/webhooks/oto/shipment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-OTO-Signature",
              "value": "={{ $json.headers['x-oto-signature'] || $json.headers['X-OTO-Signature'] || '' }}"
            },
            {
              "name": "X-Webhook-Source",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload",
              "value": "={{ JSON.stringify($json.payload) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "forward-to-laravel",
      "name": "Forward to Laravel API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CITYPHONE_API_URL }}/api/v1/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CITYPHONE_API_TOKEN }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tracking_number",
              "value": "={{ $('Extract Shipment Data').item.json.trackingNumber }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-order",
      "name": "Get Order by Tracking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "delivered-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "delivered",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-delivered",
      "name": "Is Delivered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CITYPHONE_API_URL }}/api/v1/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CITYPHONE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "title",
              "value": "Your order has been delivered!"
            },
            {
              "name": "message",
              "value": "Order #{{ $json.order_number }} has been delivered. Thank you for your purchase!"
            },
            {
              "name": "type",
              "value": "order_delivered"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-customer",
      "name": "Notify Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EMAIL_SERVICE_URL }}/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.user.email }}"
            },
            {
              "name": "subject",
              "value": "Order #{{ $json.order_number }} - Delivery Update"
            },
            {
              "name": "template",
              "value": "shipment_status_update"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ orderNumber: $json.order_number, status: $('Extract Shipment Data').item.json.status, trackingNumber: $('Extract Shipment Data').item.json.trackingNumber }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Webhook processed successfully\" } }}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Webhook processing failed\" } }}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 400]
    }
  ],
  "connections": {
    "OTO Webhook": {
      "main": [
        [
          {
            "node": "Extract Shipment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Shipment Data": {
      "main": [
        [
          {
            "node": "Forward to Laravel API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Laravel API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Get Order by Tracking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order by Tracking": {
      "main": [
        [
          {
            "node": "Is Delivered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Delivered?": {
      "main": [
        [
          {
            "node": "Notify Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Customer": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
