n8n-workflows/03-order-processing-automation.json
{
  "name": "Order Processing Automation - CityPhone",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Check New Orders",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CITYPHONE_API_URL }}/api/v1/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CITYPHONE_API_TOKEN }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "pending"
            },
            {
              "name": "payment_status",
              "value": "paid"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-orders",
      "name": "Fetch Pending Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "filter-orders",
              "name": "eligibleOrders",
              "value": "={{ $json.data.filter(order => order.payment_status === 'paid' && order.status === 'pending' && order.delivery_method === 'home_delivery') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "filter-eligible",
      "name": "Filter Eligible Orders",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-orders",
      "name": "Process Each Order",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-location",
              "leftValue": "={{ $json.location_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "has-payment",
              "leftValue": "={{ $json.payment_status }}",
              "rightValue": "paid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-order",
      "name": "Validate Order",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.CITYPHONE_API_URL }}/api/v1/orders/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CITYPHONE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "processing"
            }
          ]
        },
        "options": {}
      },
      "id": "confirm-order",
      "name": "Confirm Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "home-delivery",
              "leftValue": "={{ $json.delivery_method }}",
              "rightValue": "home_delivery",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-delivery-method",
      "name": "Is Home Delivery?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CITYPHONE_API_URL }}/api/v1/orders/{{ $json.id }}/ship-with-oto",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CITYPHONE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "notes",
              "value": "Auto-shipped via n8n workflow"
            }
          ]
        },
        "options": {}
      },
      "id": "create-shipment",
      "name": "Create OTO Shipment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CITYPHONE_API_URL }}/api/v1/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CITYPHONE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "title",
              "value": "Order Confirmed"
            },
            {
              "name": "message",
              "value": "Your order #{{ $json.order_number }} has been confirmed and is being processed."
            },
            {
              "name": "type",
              "value": "order_confirmed"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-customer",
      "name": "Notify Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "✅ Order #{{ $json.order_number }} confirmed and processed automatically"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-admin",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1850, 200]
    }
  ],
  "connections": {
    "Check New Orders": {
      "main": [
        [
          {
            "node": "Fetch Pending Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Orders": {
      "main": [
        [
          {
            "node": "Filter Eligible Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Eligible Orders": {
      "main": [
        [
          {
            "node": "Process Each Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Order": {
      "main": [
        [
          {
            "node": "Validate Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Order": {
      "main": [
        [
          {
            "node": "Confirm Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Order": {
      "main": [
        [
          {
            "node": "Is Home Delivery?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Home Delivery?": {
      "main": [
        [
          {
            "node": "Create OTO Shipment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create OTO Shipment": {
      "main": [
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Customer": {
      "main": [
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
